doctype html
html(lang="en")
    head
        title Landing Page
    body
        h1 "Future home of something awesome!"
        p Pitchfork lo-fi beard, mumblecore ethical XOXO next level umami thundercats salvia wolf pug green juice trust fund. Humblebrag chambray vegan disrupt, echo park man braid VHS messenger bag helvetica pinterest XOXO fingerstache ennui chicharrones cray. Semiotics organic ugh stumptown ethical green juice. Portland master cleanse health goth chartreuse, taxidermy VHS yuccie. Vegan post-ironic typewriter intelligentsia cornhole fingerstache. Kogi taxidermy paleo, deep v tattooed small batch yuccie swag thundercats butcher twee direct trade artisan. Cold-pressed mustache craft beer, bicycle rights health goth umami poutine readymade.